<h1>About Bill Badger</h1>
<p>Bill Badger likes you and he is the nicest badger you'll ever meet. Bill Badger gives a shit.</p>
<p>Bill Badger's parents are <a href="http://www.github.com/jessho">Jess Ho</a> and <a href="http://www.github.com/gogwilt">Cai GoGwilt</a>. 
