<h1>Home page for Bill Badger</h1>
<p>
  This is the home page for the Bill Badger web app. Sign up now and badgerize your bills.
</p>

<%= link_to "Sign up now!", "#", class: "signup_button round"%>
<p>
  Visit the <%= link_to "about", "/static_pages/about" %> page to learn more.
</p>
<p>
  This page was last updated Jan 27, 2012
</p>